.header{
    background-color: #FFFFFF;
    &__logo{
        width: 448px;
        height: 110px;
        svg{
            width: 100%;
            height: 100%;
        }
    }
    &__container{
        justify-content: space-between;
        display: flex;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    &__button{
        background-color: rgba(5, 15, 40, 1);
        border-radius: 65px;
        width: 350px;
        height: 97px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            display: none;
        }
        span{
            font-weight: 700;
            font-size: 18px;
            line-height: 90%;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: #FFFFFF
        }
    }

}
@media(max-width:1300px){
    .header{
        &__container{
            padding-top: 7px;
            padding-bottom: 15px;
        }
        &__logo{
            width: 312px;
            height: 77px;
        }

    }
}

@media(max-width:900px){
    .header{
        &__button{
            height: 60px;
            width: 60px;
            span{
                display: none;
            }
            svg{
                display: block;
            }
        }
        &__logo{
            height: 45px;
            width: 186px;
        }
    }
}